# API URL BACKEND
NUXT_PUBLIC_API_BASE_URL=http://localhost:8000

# NASA FIRMS API — clé MAP_KEY gratuite : https://firms.modaps.eosdis.nasa.gov/api/map_key/
NUXT_PUBLIC_NASA_FIRMS_KEY=your_firms_map_key_here