CORS_ALLOWED_ORIGINS=http://localhost:3000 
DATABASE_HOST=localhost
DATABASE_NAME=plateforme_smartsaha_dev # Changer par rapport au nom de la base de donnée que vous utilise en local
DATABASE_PASSWORD=0000 # Changer par rapport au mot de passe de la base de donnée que vous utilise en local
DATABASE_PORT=5432
DATABASE_USER=postgres
DJANGO_SETTINGS_MODULE=config.settings.development
GEMINI_API_KEY=AIzaSyDCqB-584xExUxk6XBgze6UK3LKq-oaPSA
MISTRAL_API_KEY=ZEqVfR5UsucyiS2VPcGEnHArQ9JtLl0C
OPENROUTER_API_KEY=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
PYTHON_VERSION=3.12.0
WEATHER_API_KEY=bb9e11ef9ae046bf953133218252008
REDIS_URL=redis://127.0.0.1:6379/1
CLOUDINARY_CLOUD_NAME=#Votre Cloud Name Cloudinary
CLOUDINARY_API_KEY=#Votre API Key Cloudinary
CLOUDINARY_API_SECRET=#Votre API Secret Cloudinary
EMAIL_HOST =smtp.gmail.com
EMAIL_PORT =587
EMAIL_HOST_USER =app.smartsaha@gmail.com
EMAIL_HOST_PASSWORD =pvga akav ulfn fyrz